:root {
    /******************/
    /*      NORD      */
    /******************/
    --nord0:    #2e3440;
    --nord1:    #3b4252;
    --nord2:    #434c5e;
    --nord3:    #4c566a;
    --nord4:    #d8dee9;
    --nord5:    #e5e9f0;
    --nord6:    #eceff4;
    --nord7:    #8fbcbb;
    --nord8:    #88c0d0;
    --nord9:    #81a1c1;
    --nord10:   #5e81ac;
    --nord11:   #bf616a;
    --nord12:   #d08770;
    --nord13:   #ebcb8b;
    --nord14:   #a3be8c;
    --nord15:   #b48ead;
    /******************/

    /******************/
    /*   SOLARIZED    */
    /******************/
    --sol0:     #002b36;
    --sol1:     #073642;
    --sol2:     #586e75;
    --sol3:     #657b83;
    --sol4:     #839496;
    --sol5:     #93a1a1;
    --sol6:     #eee8d5;
    --sol7:     #fdf6e3;
    --sol8:     #b58900;
    --sol9:     #cb4b16;
    --sol10:    #dc322f;
    --sol11:    #d33682;
    --sol12:    #6c71c4;
    --sol13:    #268bd2;
    --sol14:    #2aa198;
    --sol15:    #859900;
    /******************/

    /******************/
    /*    DRACULA     */
    /******************/
    --dra0:     #21222c;
    --dra1:     #ff5555;
    --dra2:     #50fa7b;
    --dra3:     #f1fa8c;
    --dra4:     #bd93f9;
    --dra5:     #ff79c6;
    --dra6:     #8be9fd;
    --dra7:     #f8f8f2;
    --dra8:     #6272a4;
    --dra9:     #ff6e6e;
    --dra10:    #69ff94;
    --dra11:    #ffffa5;
    --dra12:    #d6acff;
    --dra13:    #ff92df;
    --dra14:    #a4ffff;
    --dra15:    #ffffff;

    /******************/
    /*    SONOKAI     */
    /******************/
    --son0:     #181819;
    --son1:     #222327;
    --son2:     #2c2e34;
    --son3:     #33353f;
    --son4:     #363944;
    --son5:     #3b3e48;
    --son6:     #414550;
    --son7:     #595f6f;
    --son8:     #fc5d7c;
    --son9:     #f39660;
    --son10:    #e7c664;
    --son11:    #9ed072;
    --son12:    #76cce0;
    --son13:    #b39df3;
    --son14:    #e2e2e3;
    --son15:    #7f8490;
    /******************/
    --son16:    #ff6077;
    --son17:    #553939;
    --sol18:    #394634;
    --sol19:    #a7df78;
    --sol20:    #85d3f2;
    --sol21:    #354157;
    --sol22:    #4e432f;
    /******************/
}
